# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ---- Vivado outputs to ignore ----
*.bit
*.bin
*.mmi
*.rpt
*.wdb
*.jou
*.log
*.html
*.xml
*.csv

# Build dirs
*.runs/
*.cache/
*.hw/
.ip_user_files/
.sim/
.Xil/
.gen/
.data/
.tmp/

# ---- Keep sources even inside .srcs ----
!.srcs/
!**/*.vhd
!**/*.v
!**/*.sv
!**/*.xdc
!**/*.tcl
!**/*.xci   # (keep if you want IP configs in repo)

# ---- Vitis / SDK ----
.metadata/
*.launch
**/Debug/
**/Release/

